<div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
    <form><div fxLayoutAlign="center"> 
      <h2 style="color: dodgerblue;">Patient Registration</h2></div>
      <div fxLayoutAlign="center"> 
            <mat-label>Title</mat-label>
        <mat-radio-group aria-label="Select an option"class="radio-group">
            <mat-radio-button value="1">Mr.</mat-radio-button>
            <mat-radio-button value="2">Ms.</mat-radio-button>
            <mat-radio-button value="1">Mrs.</mat-radio-button>
            <mat-radio-button value="2">Dr.</mat-radio-button>
        </mat-radio-group></div>
        <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>FirstName</mat-label>
              <input matInput /> </mat-form-field
            >
            </div>
            <div fxLayoutAlign="center" style="margin-top:10px"><mat-form-field appearance="fill" class="form-field">
              <mat-label>LasttName</mat-label>
              <input matInput />
            </mat-form-field></div>
            <div fxLayoutAlign="center" style="margin-top:10px"><mat-form-field appearance="fill" class="form-field">
              <mat-label>Email</mat-label>
              <input type="email" matInput/>
            </mat-form-field></div>
            <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field appearance="fill"class="form-field">
              <mat-label>DOB</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field></div>
            
        <div fxLayoutAlign="center" style="margin-top:10px">
      <button mat-button color="primary" (click)="onSave()">save</button></div>
    </form>
    </div>
