
  <!-- Row for inbox and upcoming appointments -->
  <div class="main" fxLayout="row wrap">
    <div class="sub1" fxFlex.gt-sm="50" fxFlex.gt-lg="50" fxFlex="100" style="padding: 10px;">
      <mat-card >
        <mat-card-title></mat-card-title>
        <mat-card-content >
          <!-- <ng-container *ngComponentOutlet="inboxComponent"></ng-container> -->
          <app-inbox></app-inbox>
        </mat-card-content>
       </mat-card>
    </div>
    <div class="sub1" fxFlex.gt-sm="50" fxFlex.gt-lg="50" fxFlex="100" style="padding: 10px;">
      <mat-card>
        <mat-card-title>Upcoming appointment</mat-card-title>
       </mat-card>
    
    </div>
    </div>
  
  <router-outlet></router-outlet>
  