<div class="Container" >
    <!-- <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
      <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)" class="mat-elevation-z4">
        <mat-card-title>Register Patient</mat-card-title>
      </mat-card>
      
      <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)" class="mat-elevation-z4">
        <mat-card-title>Patient Details</mat-card-title>
        </mat-card>
    
      <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)" class="mat-elevation-z4">
        <mat-card-title>Scheduler</mat-card-title>
        </mat-card>
    
    </div> -->
  <!-- Row for inbox and upcoming appointments -->
    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" id="dashboardSubsection">
      <mat-card ffxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(40%-10px)" fxFlex.gt-md="0 1 calc(40%-10px)" class="mat-elevation-z4">
        <mat-card-title>Inbox</mat-card-title>
       </mat-card>
      
      <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(40%-10px)" fxFlex.gt-md="0 1 calc(40%-10px)" class="mat-elevation-z4" style="align-self:stretch;">
        <mat-card-title>Upcoming appointment</mat-card-title>
       </mat-card>
    
    </div>
  </div>
  