
/* .main{
    display:flex;
    justify-content: space-between;
    margin-left: 40vh;
    margin-right: 25vh;
} */
<<<<<<< HEAD
.example-button {
    margin-top: 16px;
  }
  .success{
    background-color: cornflowerblue;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    font-size: 50px;
    padding-top: 45vh;
    border-radius: 5px;
  }
  .example-tooltip-red {
    background: #b71c1c;
  }
table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
=======

>>>>>>> 49e9d25695101710d8dd0ad8fbc2ff76d7e2c1b9



.head{
    color: #0055D2;
}
.wid{
    width: 50vh;
}
.date{
    width: 33vh;
}
.w{
    width: 40%;
}

.middle{
    background-color: grey;
    text-align: center;
    height: 100vh;
    padding-top: 40vh;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

@media (max-width:700px) {
    .pad{
        width: 100%;
    }
   
}

.datepicker { 
    display: inherit;
}

/* @media (min-width:700px) {
    .pad{
        width: 100%;
    }
   
} */