<div class="main" fxLayout="row wrap">
  <div class="sub1" fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px">
    <mat-card>
      <mat-card-content>
        <h1 class="head">Demographic Details</h1>
        <mat-form-field appearance="fill" class="pad">
          <mat-label>First Name*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Last Name*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;<br>

        <mat-form-field appearance="fill" class="pad date">
          <mat-label>Choose a date*</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>&nbsp; &nbsp;
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Mobile No*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;<br />

        <mat-radio-group aria-label="Select an option">
          <mat-label>Gender :</mat-label>
          <div>
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </div>
        </mat-radio-group><br />
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Race</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Ethnicity</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;
        <div class="example-container">
          <mat-form-field appearance="fill" class="example-full-width wid">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required />

          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field appearance="fill" class="example-full-width wid">
            <mat-label>Known Language</mat-label>
            <input matInput placeholder="English, Hindi, Marathi" required />

          </mat-form-field>
        </div>

        <p>
          <mat-form-field class="example-full-width wid" appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          </mat-form-field>
        </p>
        <h1 class="head">Allergies</h1>
        <mat-radio-group aria-label="Select an option">
          <mat-label>Patient has any known allergies? :</mat-label>&nbsp;
          &nbsp;&nbsp; &nbsp;
          <div>
            <mat-radio-button value="1" (click)="allergyFalse($event)" #event>Yes</mat-radio-button><br />
            <mat-radio-button value="2" (click)="allergyTrue($event)">No</mat-radio-button>
          </div>
        </mat-radio-group><br />

        <div [hidden]="hideAllergy">
          <mat-form-field appearance="fill" class="pad">
            <mat-label>Allergy Id</mat-label>
            <input matInput />
          </mat-form-field>&nbsp; &nbsp;
          <mat-form-field appearance="fill" class="pad">
            <mat-label>Allergy Type</mat-label>
            <input matInput />
          </mat-form-field>&nbsp; &nbsp;<br />

          <mat-form-field appearance="fill" class="pad">
            <mat-label>Allergy Name</mat-label>
            <input matInput />
          </mat-form-field>&nbsp; &nbsp;

          <mat-form-field appearance="fill" class="example-full-width pad">
            <mat-label>Allergy Description</mat-label>
            <input matInput />
          </mat-form-field>&nbsp; &nbsp;<br />
          <mat-form-field appearance="fill" class="wid">
            <mat-label>Allergy clinical information</mat-label>
            <input matInput />
          </mat-form-field>&nbsp; &nbsp;
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- second section for emergency contact info -->
  <div class="sub2" fxFlex.gt-sm="50" fxFlex.gt-lg="20" fx.Flex="50" style="padding: 10px">
    <mat-card>
      <mat-card-content>
        <h1 class="head">Emergency Contact Information</h1>

        <mat-form-field appearance="fill" class="pad">
          <mat-label>First Name*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Last Name*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;<br />
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Relationship*</mat-label>
          <mat-select>
            <mat-option value="one">Father</mat-option>
            <mat-option value="two">Mother</mat-option>
            <mat-option value="one">Son</mat-option>
            <mat-option value="two">Daughter</mat-option>
          </mat-select>
        </mat-form-field>&nbsp; &nbsp;
        <mat-form-field appearance="fill" class="pad">
          <mat-label>Mobile No*</mat-label>
          <input matInput />
        </mat-form-field>&nbsp; &nbsp;<br />
        <div class="example-container">
          <mat-form-field appearance="fill" class="example-full-width wid">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required />
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
        </div>
        <mat-checkbox class="example-margin">Same as per patient</mat-checkbox>

        <p>
          <mat-form-field class="example-full-width wid " appearance="fill">
            <mat-label>Address</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St"></textarea>
          </mat-form-field>
        </p>
        <br />
        <mat-radio-group aria-label="Select an option">
          <mat-label>Do you need to access patient portal? :</mat-label>&nbsp;
          &nbsp;&nbsp; &nbsp;
          <div>
            <mat-radio-button value="1">Yes</mat-radio-button><br />
            <mat-radio-button value="2">No</mat-radio-button>
          </div>
        </mat-radio-group><br />

        <button mat-raised-button color="primary" style="background-color: #03A66A;width: 30vh;"
          >
          Register
        </button> 
        &nbsp;
        <button mat-raised-button color="primary" style="background-color: #03A66A;width: 40vh;" *ngIf="isNurse && !isPatient" (click)="navigateToVital()">
        Add Vital Sign Details
      </button>
      </mat-card-content>
    </mat-card>
  </div>

</div>


<!-- Div using flex layout -->
<!-- <div class="main" fxLayout="row wrap">
  <div class="sub1" fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px">
    <mat-card>
      <mat-card-content>
        <h1 class="head">Demographic Details</h1>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px" >
            <mat-form-field appearance="fill" class="pad" >
              <mat-label>First Name*</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px" >
            <mat-form-field appearance="fill" class="pad"  >
              <mat-label>Last Name*</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div> -->

        <!-- second row -->
        <!-- <div fxLayout="row wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30"  fxFlex.gt-md ="50" fx.Flex="50" >
            <mat-form-field appearance="fill"  class="pad">
              <mat-label>Choose a date*</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px" >
            <mat-radio-group aria-label="Select an option"  class="pad">
              <mat-label>Gender :  </mat-label>          
                <mat-radio-button value="1">Male</mat-radio-button> &nbsp;
                <mat-radio-button value="2">Female</mat-radio-button>
              
            </mat-radio-group>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div> -->

  <!-- second section for contact info -->
  <!-- <div class="sub2" fxFlex.gt-sm="50" fxFlex.gt-lg="20" fx.Flex="50" style="padding: 10px">
    <mat-card>
      <mat-card-content>
        <h1 class="head">Contact Details</h1>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px" >
            <mat-form-field appearance="fill" class="pad">
              <mat-label>Mobile No*</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fx.Flex="50" style="padding: 10px" >
            <mat-form-field appearance="fill" class="pad">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" required />
  
            </mat-form-field>
          </div>
        </div> -->

        <!-- second row -->
       <!-- <div fxLayout="row wrap">
          <div fxFlex.gt-sm="100" fxFlex.gt-lg="100"  fxFlex.gt-md ="100" fx.Flex="100" >
            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="Ex. 100 Main St"></textarea>
            </mat-form-field>
          </div>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div> -->

<router-outlet></router-outlet>