.first {
    background-image: url("/assets/images/changepassword.jpg");
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-size: cover;
  }
  section {
    vertical-align: middle;
    height: 100%;
  }
  mat-card {
    display: flex;
  
    width: 280px;
    height: 250px;
    background-color: transparent;
    margin: auto;
    text-align: center;
  
    backdrop-filter: blur(8px); /*blur*/
  }
  
  mat-form-field {
    display: block;
  }
  .btn {
    border-radius: 20px;
    width: 200px;
  }
  .fielderror{color: red;}
  .mat-primary.btn{background-color:#87CEEB}
  @media (max-width: 700px) {
    mat-card {
      width: 200px;
      height: 240px;
    }
    .btn {
      border-radius: 15px;
      width: 150px;
    }
  }