<div class="first">
    <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card fxLayoutAlign="center center">
        
        <form  [formGroup]="forgetPasswordForm" (ngSubmit)="forget()">
          <mat-card-content>
            <h2 style="color: #00ccff">forget password</h2>
  
            <mat-form-field class="full-width-input">
              <input matInput type="email" placeholder="email"  formControlName="email"/>
            
            <mat-hint
              class="fielderror"
              *ngIf="
                (emailFormControl.email.touched || submitted) &&
                emailFormControl.email.errors?.required
              "
            ></mat-hint> 
            <mat-hint *ngIf="error" class="fielderror">{{error}}</mat-hint>
            <mat-hint *ngIf="success" class="fielderror">success</mat-hint>
          </mat-form-field>
         
          <!-- <button mat-raised-button color="primary"  class="btn" type="submit"  [disabled]="forgetPasswordForm.invalid">
             verify 
          </button>-->
         <!-- <button mat-raised-button color="primary"  class="btn" type="submit" *ngIf="error" [disabled]>
            verify 
         </button>-->
         <button mat-raised-button color="primary"  class="btn" type="submit" >
          verify 
       </button>
          </mat-card-content>
        </form>
      </mat-card></section>
    </div>
  
