<div [hidden]="section1">
<div class="center">
  <mat-card-header>
    <mat-card-title style="color: #03a66a;">Add Appointment Details</mat-card-title>
    <mat-card-subtitle class="center-text-size">Fill all required field</mat-card-subtitle>
  </mat-card-header>
</div>
<mat-progress-bar></mat-progress-bar>
&nbsp;
<!--  for patient -->

<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="isPatient">
  <div class="bounds">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="100" class="sec1" fxFlex.xs="100">
        <!-- <mat-card >
          <mat-card-content> -->
        <div fxLayout="row wrap">
          <!-- <div fxFlex="100" class="sec1" fxFlex.xs="100"> -->
          <!-- <mat-card >
                  <mat-card-content> -->
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
            <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
              <mat-label>Specialisation*</mat-label>
              <mat-select formControlName="specialisation">
                <mat-option *ngFor="let spe of specialisation" value="{{ spe }}" (onSelectionChange)="loadDoctorNames(spe, $event)">{{
                  spe
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
            <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
              <mat-label>Physician*</mat-label>
              <mat-select formControlName="employeeName"> 
                <mat-option *ngFor="let employee of employeeDetails" [value]='employee.title + " " + employee.firstName + " " + employee.lastName' 
                 (onSelectionChange)="setDoctorId(employee.employeeId, $event)" 
                 (onSelectionChange)="loadTimeSlot()">
                {{employee.title}}  {{ employee.firstName }} {{ employee.lastName }}  
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-expansion-panel>
          <!-- // expension Header -->
          <mat-expansion-panel-header style="background-color: #03a66a; width: 100%">
            <mat-panel-title class="center"> Add appointment </mat-panel-title>
          </mat-expansion-panel-header>
          &nbsp; &nbsp; &nbsp;
          <!-- // expension body -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Meeting Title</mat-label>
            <input matInput formControlName="meetingTitle" required />
          </mat-form-field>

          <p>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Ex.patient Details-	Descriptive information "
                formControlName="description"></textarea>
            </mat-form-field>
          </p>

          <!-- <mat-form-field appearance="fill" class="pad date w">
            <mat-label>Appointment date*</mat-label>
            <input matInput  [matDatepicker]="picker" formControlName="appointmentDate"
              required (dateChange)="loadTimeSlot()" (ngModelChange)="modelChanged($event)" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>&nbsp; &nbsp; -->

          <!-- <mat-form-field appearance="fill" class="pad date w">
            <mat-label>Time slot*</mat-label>
            <mat-select formControlName="timeSlot">
              <mat-option *ngFor="let spe of timeSlot" value="{{ spe }}">{{ spe }}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
            <mat-label>Select Date-TimeSlot*</mat-label>
            <mat-select formControlName="timeSlot"> 
              <mat-option *ngFor="let slot of timeSlotData" [value]='slot.slotId' (onSelectionChange)="LoadTimeSlot(slot, $event)">
               <strong> {{slot.date|date}}</strong> <b> => </b>  {{slot.startTime}} - {{slot.endTime}}  
              </mat-option>
            </mat-select>
          </mat-form-field>
     
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Time-Slot</mat-label>
            <input matInput formControlName="timeSlotString" />
          </mat-form-field>

          <button mat-raised-button color="primary" style="background-color: #03a66a; width: 100%"
            class="example-full-width" [disabled]="!form.valid" type="submit" mat-stroked-button>
            Create Appointment
          </button>
        </mat-expansion-panel>

        <!-- </mat-card-content>
        </mat-card> -->
      </div>
    </div>
  </div>
</form>

<!-- for nurse  -->

<form [formGroup]="form" (ngSubmit)="onSubmitByNurse()" *ngIf="isNurse">
  <div class="bounds">
    <!-- <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill> -->
    <div fxLayout="row wrap">
      <!-- <div fxFlex="100" class="sec1" fxFlex.xs="100"> -->
      <!-- <mat-card >
          <mat-card-content> -->
      <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
          <mat-label>Specialisation*</mat-label>
          <mat-select formControlName="specialisation">
            <mat-option *ngFor="let spe of specialisation" value="{{ spe }}" (onSelectionChange)="loadDoctorNames(spe, $event)">{{
              spe
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
          <mat-label>Physician*</mat-label>
          <mat-select formControlName="employeeName"> 
            <mat-option *ngFor="let employee of employeeDetails" [value]='employee.title + " " + employee.firstName + " " + employee.lastName' (onSelectionChange)="setDoctorId(employee.employeeId, $event)" (onSelectionChange)="loadTimeSlot()">
            {{employee.title}}  {{ employee.firstName }} {{ employee.lastName }}  
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <!-- Patient name       //////// need working -->
        <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
          <mat-label>Patient Id*</mat-label>
          <mat-select formControlName="patientId">
            <mat-option *ngFor="let patient of patients" [value]='patient.patientId'
              (onSelectionChange)="loadPatientName(patient, $event)">{{
              patient.patientId
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
          <mat-label>Patient name*</mat-label>
          <input matInput formControlName="patientName" />
        </mat-form-field>
      </div>
    </div>

    &nbsp; &nbsp;

    <mat-expansion-panel>
      <!-- // expension Header -->
      <mat-expansion-panel-header style="background-color: #03a66a; width: 100%">
        <mat-panel-title class="center"> Add appointment </mat-panel-title>
      </mat-expansion-panel-header>
      &nbsp; &nbsp; &nbsp;
      <!-- // expension body -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Meeting Title</mat-label>
        <input matInput formControlName="meetingTitle" required />
      </mat-form-field>

      <p>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Ex.patient Details-	Descriptive information "
            formControlName="description"></textarea>
        </mat-form-field>
      </p>

      <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
        <mat-label>Select Date-TimeSlot*</mat-label>
        <mat-select formControlName="timeSlot"> 
          <mat-option *ngFor="let slot of timeSlotData" [value]='slot.slotId' (onSelectionChange)="LoadTimeSlot(slot, $event)">
           <strong> {{slot.date|date}}</strong> <b> => </b>  {{slot.startTime}} - {{slot.endTime}}  
          </mat-option>
        </mat-select>
      </mat-form-field>
 
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Time-Slot</mat-label>
        <input matInput formControlName="timeSlotString" />
      </mat-form-field>
      <!-- extra -->
      <!-- <mat-form-field appearance="fill" class="pad wid " *ngIf="index === 1">
            <mat-label>ReSchedule time*</mat-label>
            <mat-select formControlName="appointmentTime">
              <mat-option *ngFor="let spe of appointmentTime" value="{{ spe }}">{{
                spe
                }}</mat-option>
            </mat-select>
          </mat-form-field> -->
      <button  mat-raised-button color="primary" style="background-color: #03a66a; width: 100%"
        class="example-full-width" type="submit" mat-stroked-button>
        Create Appointment
      </button>
    </mat-expansion-panel>

    <!-- </mat-card-content>
        </mat-card> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</form>


<!--  for Doctor   -->

<form [formGroup]="form" (ngSubmit)="onSubmitByDoctor()" *ngIf="isPhysician">
  <div class="bounds">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div fxFlex="100" class="sec1" fxFlex.xs="100">
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
            <!-- Patient name       //////// need working -->
            <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
              <mat-label>Patient Id*</mat-label>
              <mat-select formControlName="patientId">
                <mat-option *ngFor="let patient of patients" [value]='patient.patientId'
                  (onSelectionChange)="loadPatientName(patient, $event)">{{
                  patient.patientId
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
            <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
              <mat-label>Patient name*</mat-label>
              <!-- <mat-select formControlName="patientName">
                <mat-option *ngFor="let spe of patientName" value="{{ spe }}">{{
                  spe
                  }}</mat-option>
              </mat-select> -->
              <input matInput formControlName="patientName" readonly />
            </mat-form-field>
          </div>
        </div>

        <mat-expansion-panel>
          <!-- // expension Header -->
          <mat-expansion-panel-header style="background-color: #03a66a; width: 100%">
            <mat-panel-title class="center"> Add appointment </mat-panel-title>
          </mat-expansion-panel-header>
          &nbsp; &nbsp; &nbsp;
          <!-- // expension body -->
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Meeting Title</mat-label>
            <input matInput formControlName="meetingTitle" required />
          </mat-form-field>

          <p>
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Ex.patient Details-	Descriptive information "
                formControlName="description"></textarea>
            </mat-form-field>
          </p>

          <mat-form-field appearance="fill" class="pad date w" style="width: 100%;">
            <mat-label>Select Date-TimeSlot*</mat-label>
            <mat-select formControlName="timeSlot"> 
              <mat-option *ngFor="let slot of timeSlotData" [value]='slot.slotId' (onSelectionChange)="LoadTimeSlot(slot, $event)">
               <strong> {{slot.date|date}}</strong> <b> => </b>  {{slot.startTime}} - {{slot.endTime}}  
              </mat-option>
            </mat-select>
          </mat-form-field>
     
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Time-Slot</mat-label>
            <input matInput formControlName="timeSlotString" />
          </mat-form-field>
          <!-- extra -->
          <!-- <mat-form-field appearance="fill" class="pad wid " *ngIf="index === 1">
            <mat-label>ReSchedule time*</mat-label>
            <mat-select formControlName="appointmentTime">
              <mat-option *ngFor="let spe of appointmentTime" value="{{ spe }}">{{
                spe
                }}</mat-option>
            </mat-select>
          </mat-form-field> -->
          <button mat-raised-button color="primary" style="background-color: #03a66a; width: 100%"
            class="example-full-width" type="submit" mat-stroked-button>
            Create Appointment
          </button>
        </mat-expansion-panel>

        <!-- </mat-card-content>
        </mat-card> -->
      </div>
    </div>
  </div>
</form>
</div>
<div [hidden]="section2" class="success"><div>To add Appointment<br><br><br> You need to <br> <br><br> fill your Details first</div>
</div>
  <router-outlet></router-outlet>
  