<!-- <app-side-nav></app-side-nav> -->
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
    <!-- <mat-icon >
            close
        </mat-icon> -->
  </button>
  <img class="img-logo"
    src="https://s3.amazonaws.com/company-photo.theladders.com/863/c5139e28-4756-456d-a8fa-fc5694ebc565.png"
    alt="CTGeneralHospital logo" />&nbsp; CTGeneralHospital
  <span class="example-spacer"></span>
  <mat-label style="
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight:normal;
        text-align: 15%;
        color: azure;
        text-align: center;
      " mat-menu-item>
    {{loggedInUserName}}
    <!-- {{loggedInRole}} -->
  </mat-label>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="beforeMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before" class="profile">
    <!-- <h4 mat-menu-item style="font-weight: bold;">Priyanka Gaykhe</h4> -->
    <mat-label style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: 10%;
      " mat-menu-item>
      {{loggedInUserName}}</mat-label>

    <mat-label style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: 10%;
      " mat-menu-item>
      <mat-icon>alternate_email</mat-icon>{{loggedInUserEmail}}
    </mat-label>
    <button style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: 10%;
      " mat-menu-item (click)="changePassword()">
      <mat-icon>visibility</mat-icon>Change Password
    </button>

    <button style="
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: 10%;
      " mat-menu-item routerLink="/">
      <mat-icon>exit_to_app</mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>

<!--  for nurse  -->

<mat-sidenav-container *ngIf="isNurse">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div>
      <mat-card>
        <img class="img" src="/assets/images/nurse.jpg" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div>
    <button mat-button class="menu-button" routerLink="nurse/">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" (click)="showSubmenu = !showSubmenu" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-icon>date_range</mat-icon>
      <span *ngIf="isExpanded || isShowing">Appointments</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="scheduling/appointment-calendar">
        <mat-icon>schedule</mat-icon>
        <span>Schedule Appointment</span>
      </button>
      <button mat-button class="menu-button" routerLink="scheduling/appointment-list">
        <mat-icon>schedule </mat-icon>
        <span>Appointment list</span>
      </button>
    </div>

    <button mat-button class="menu-button" (click)="showPatientSubMenu = !showPatientSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing">Patient</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showPatientSubMenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="nurse/register-patient">
        <mat-icon>person</mat-icon>
        <span>Register Patient</span>
      </button>

      <!-- <button mat-button class="menu-button" routerLink="nurse/patient-visit">
        <mat-icon>person</mat-icon>
        <span>Add Patient Visit Details</span>
      </button> -->
      <button mat-button class="menu-button" routerLink="nurse/patient-list">
        <mat-icon>person</mat-icon>
        <span>Patient Visit History</span>
      </button>
      <button mat-button class="menu-button" routerLink="nurse/patient-list">
        <mat-icon>list</mat-icon>
        <span>Patient list</span>
      </button>
    </div>

    <button mat-button class="menu-button" (click)="showEmployeeSubMenu = !showEmployeeSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing">Employee</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showEmployeeSubMenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="nurse/employee-list">
        <mat-icon>list</mat-icon>
        <span>Employee Details</span>
      </button>
      <!-- <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span >Patient Visit</span>
        </button> -->
    </div>
    <button mat-button class="menu-button" routerLink="nurse/notes">
      <mat-icon>send</mat-icon>
      <span>Inbox</span>
    </button>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Change Password</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- For patient -->

<mat-sidenav-container *ngIf="isPatient">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div>
      <mat-card>
        <img class="img" src="/assets/images/p11.png" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div>
    <!-- <div *ngIf="isFemale">
      <mat-card>
        <img class="img" src="/assets/images/p22.png" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div> -->
    <button mat-button class="menu-button" routerLink="patient/dashboard">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-button class="menu-button" (click)="showPatientSubMenu = !showPatientSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing">Patient</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showPatientSubMenu }" *ngIf="isShowing || isExpanded">
      <!-- <button
        mat-button
        class="menu-button"
        routerLink="patient/dashboard"
        
      >
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button> -->
      <button mat-button class="menu-button" routerLink="patient/patient-details">
        <mat-icon>person</mat-icon>
        <span>Enter your Details</span>
      </button>
      <button mat-button class="menu-button" routerLink="patient/my-details">
        <mat-icon>list</mat-icon>
        <span>My Details</span>
      </button>

      <button mat-button class="menu-button" [disabled]="MyVisitHistory"
        routerLink="nurse/visit-history/{{patientIdForVisitHistory}}">
        <mat-icon>person</mat-icon>
        <span>My visit history</span>
      </button>
      <button mat-button class="menu-button" routerLink="patient/get-my-data">
        <mat-icon>download</mat-icon>
        <span>Download</span>
      </button>
    </div>
    <button mat-button class="menu-button" (click)="showSubmenu = !showSubmenu" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-icon>date_range</mat-icon>
      <span *ngIf="isExpanded || isShowing">Appointments</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">

      <button mat-button class="menu-button" routerLink="scheduling/appointment-calendar">
        <mat-icon>schedule</mat-icon>
        <span>Schedule Appointment</span>
      </button>
      <button mat-button class="menu-button" routerLink="scheduling/appointment-list">
        <mat-icon>schedule </mat-icon>
        <span>Upcoming Appointment</span>
      </button>
    </div>

    <!-- <button mat-button class="menu-button" (click)="showEmployeeSubMenu = !showEmployeeSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>settings</mat-icon>
      <span *ngIf="isExpanded || isShowing">Settings</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showEmployeeSubMenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button">
        <mat-icon>password</mat-icon>
        <span>Change Password</span>
      </button>
    </div>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--  patient end-->


<!-- For admin -->

<mat-sidenav-container *ngIf="isAdmin">
  <!-- <img class="img-logo"
    src="https://s3.amazonaws.com/company-photo.theladders.com/863/c5139e28-4756-456d-a8fa-fc5694ebc565.png"
    alt="CTGeneralHospital logo" /> -->
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div >
      <mat-card>
        <img class="img" src="/assets/images/admin1.jpg" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div>
   
    <button mat-button class="menu-button" routerLink="admin/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-button class="menu-button" (click)="showPatientSubMenu = !showPatientSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing">Patient</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showPatientSubMenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="admin/patients">
        <mat-icon>list</mat-icon>
        <span>View Patient Details</span>
      </button>
      <button mat-button class="menu-button" routerLink="admin/patient-details">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Approve Patient Registration</span>
      </button>
    </div>
    <button mat-button class="menu-button" (click)="showSubmenu = !showSubmenu" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing">Hospital Users</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="admin/register-user">
        <mat-icon>person</mat-icon>
        <span>Register User</span>
      </button>
      <button mat-button class="menu-button" routerLink="admin/employee-details">
        <mat-icon>list</mat-icon>
        <span>View User Details</span>
      </button>
    </div>

    <!-- <button mat-button class="menu-button" (click)="showEmployeeSubMenu = !showEmployeeSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>settings</mat-icon>
      <span *ngIf="isExpanded || isShowing">Settings</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showEmployeeSubMenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="/nurse/employee-details">
        <mat-icon>list</mat-icon>
        <span>change password</span>
      </button>
    </div>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button> -->



    <!-- <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- For Doctor  -->

<mat-sidenav-container *ngIf="isPhysician">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div *ngIf="isMale">
      <mat-card>
        <img class="img" src="/assets/images/doctor-male.jpg" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div>
    <div *ngIf="isFemale">
      <mat-card>
        <img class="img" src="/assets/images/doctorny female.jpg" height="100px" width="100px" />
        <br>&nbsp;
        {{loggedInUserName}}
        <br>
        <h5 style="font-weight: bold;">{{loggedInRole}}</h5>
      </mat-card>
    </div>
    <button mat-button class="menu-button" routerLink="doctor/doctors-dashboard">
      <mat-icon>home</mat-icon>
      <span style="padding-left: 5px;">DashBoard</span>
    </button>
    <button mat-button class="menu-button" (click)="showPatientSubMenu = !showPatientSubMenu"
      (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-icon>person</mat-icon>
      <span *ngIf="isExpanded || isShowing" style="padding-left: 5px;">Patient</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showPatientSubMenu }" *ngIf="isShowing || isExpanded">
      <!-- <button mat-button class="menu-button" routerLink="nurse/patient-visit">
        <mat-icon>add</mat-icon>
        <span style="padding-left: 5px;">Add Patient Visit</span>
      </button> -->
      <button mat-button class="menu-button" routerLink="nurse/patient-list">
        <mat-icon>restore</mat-icon>
        <span style="padding-left: 5px;">Patient Visit History</span>
      </button>
    </div>

    <button mat-button class="menu-button" routerLink="doctor/timeslot">
      <mat-icon>event</mat-icon>
      <span style="padding-left: 5px;">Time-Slot</span>
    </button>

    <button mat-button class="menu-button" (click)="showSubmenu = !showSubmenu" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-icon>date_range</mat-icon>
      <span *ngIf="isExpanded || isShowing" style="padding-left: 5px;">Appointments</span>
    </button>
    <div class="submenu" [ngClass]="{ expanded: showSubmenu }" *ngIf="isShowing || isExpanded">
      <button mat-button class="menu-button" routerLink="scheduling/appointment-calendar">
        <mat-icon>add</mat-icon>
        <span style="padding-left: 5px;">Schedule Appointment</span>
      </button>
      <button mat-button class="menu-button" routerLink="scheduling/appointment-list">
        <mat-icon>list </mat-icon>
        <span style="padding-left: 5px;">Appointment list</span>
      </button>
      <button mat-button class="menu-button" routerLink="doctor/requested-appointment-list">
        <mat-icon>assignment_turned_in </mat-icon>
        <span style="padding-left: 5px;">Approve Appointment</span>
      </button>
    </div>


    <button mat-button class="menu-button" routerLink="doctor/nurse/notes">
      <mat-icon>textsms</mat-icon>
      <span style="padding-left: 5px;"> Inbox</span>
    </button>

    <mat-divider></mat-divider>

    <!-- <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span style="padding-left: 5px;">About</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>help_outline</mat-icon>
      <span style="padding-left: 5px;">Help</span>
    </button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>