<!-- <p>my-details works!</p>
<div fxLayout="row wrap">
  <div
    class="sub1"
    fxFlex.gt-sm="50"
    fxFlex.gt-lg="20"
    fx.Flex="50"
    style="padding: 10px"
  >
    <mat-card>
        <mat-card-title>Patient Name</mat-card-title>

      <mat-card-content>
          <table>

            <tr>
                <td>First Name</td>
                <td>Bhushan</td>
            </tr>
          </table>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit et nulla
        laborum, amet rerum inventore commodi earum facilis rem laboriosam odio
        dolores quidem minima numquam illum nemo explicabo distinctio odit qui
        esse. Culpa minima esse dicta, nobis placeat optio laborum ipsam dolorum
        et, ea reiciendis voluptatem fugit voluptatibus qui vitae.
      </mat-card-content></mat-card
    >
  </div>
</div> -->

