<div
  class="bounds"
  style="background-color: rgb(201, 208, 247); width: 100%; height: 100vh"
>
  <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="100" class="sec1" fxFlex.xs="55" style="padding-top: 40vh">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsum numquam asperiores voluptatibus, atque, error aspernatur voluptatem nam ratione pariatur quo qui soluta repellat consectetur dignissimos, molestias dolorem? Iure ratione porro totam exercitationem iste odit at, illum ducimus beatae deserunt tenetur corporis mollitia nesciunt maxime natus atque. Animi, accusantium aliquam!
        {{Patientdata.firstName}}
    </div>
    </div>
    </div>