<div class="main" fxLayout="row wrap">
    <div class="sub1" fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-card class="example-card">
                    <mat-card-header>
                        <!-- <mat-card-title>Bar Chart </mat-card-title> -->
                    </mat-card-header>
                    <p-chart type="bar" [data]="userUsageHoursData"></p-chart>
                </mat-card>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fxFlex="100" style="padding: 5px">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>Hospital Users</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="text-align: center;">{{employeeCountTest}}</mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fxFlex="100" style="padding: 5px">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>All Patients</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="text-align: center;">{{patientInactiveCount}}</mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fxFlex="100" style="padding: 5px">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>Active Users</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="text-align: center;">{{employeeActiveCount}}</mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-lg="30" fxFlex="100" style="padding: 5px">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <mat-card-title>Active Patients</mat-card-title>
                            </mat-card-header>
                            <mat-card-content style="text-align: center;">{{patientActiveCount}}</mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-card class="example-card">
                    <mat-card-header>
                        <!-- <mat-card-title>Pie Chart </mat-card-title> -->
                    </mat-card-header>
                    <p-chart type="pie" [data]="userAppData" style="height: 1px;"></p-chart>
                </mat-card>
            </div>
        </div>
    </div>
</div>