<form [formGroup]="form" (ngSubmit)="onSubmit()" style="width: 100%;">
    <div class="bounds">
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="100" class="sec1" fxFlex.xs="55">
                <mat-card>
                    <div class="center">
                        <mat-card-header>
                            <mat-card-title style="color: #03a66a;">Add Time-Slot</mat-card-title>
                            <mat-card-subtitle class="center-text-size">Fill all required field</mat-card-subtitle>
                        </mat-card-header>
                    </div>
                    <mat-progress-bar></mat-progress-bar>
                    <br>
                    <mat-form-field appearance="fill" style="width: 35vh;">
                        <mat-label>Appointment date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date" required (dateChange) = "getSelectedDate($event)"/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <input type = "date" matInput  formControlName="date" required (dateChange) = "getSelectedDate($event)"/> -->
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field appearance="fill" style="width: 35vh;">
                        <mat-label>startTime</mat-label>
                        <mat-select formControlName="startTime" required>
                            <mat-option *ngFor="let spe of startTime" value="{{ spe }}">{{
                                spe
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field appearance="fill" style="width: 35vh;">
                        <mat-label>endTime</mat-label>
                        <mat-select formControlName="endTime" required>
                            <mat-option *ngFor="let spe of endTime" value="{{ spe }}">{{spe }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;&nbsp;
                    <button mat-raised-button color="primary" style="background-color: #03a66a;width: 35vh;;height:6vh;"
                        class="example-full-width" type="submit" [disabled]="!form.valid" (click)="openDialog()" mat-stroked-button>
                        Add
                    </button>
                </mat-card>
            </div>&nbsp;
            
        </div>
    </div>
</form>
&nbsp;
    <mat-card>
        <app-timeslot-list></app-timeslot-list>
    </mat-card>
