<div>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="main" fxLayout="row wrap">
      <div class="sub1" fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
        <mat-card>
          <mat-card-header>
            <h1 style="color: #0055d2">Update User</h1>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="20" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Title</mat-label>
                  <mat-select formControlName="title" required>
                    <mat-option value="Mr.">Mr.</mat-option>
                    <mat-option value="Ms.">Ms.</mat-option>
                    <mat-option value="Mrs.">Mrs.</mat-option>
                    <mat-option value="Dr.">Dr.</mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="form.controls['title']?.errors?.['required'] && form.controls['title'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px" hidden="true">
                <div formGroupName="userRole">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Select Role</mat-label>
                  <mat-select formControlName="roleType">
                    <mat-option value="Physician">Physician</mat-option>
                    <mat-option value="Nurse">Nurse</mat-option>
                    <mat-option value="Admin">Admin</mat-option>
                  </mat-select>
                </mat-form-field>
                <input formControlName="userRoleId">
                </div>
              </div>
              <div fxFlex.gt-sm="40" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>First Name</mat-label>
                  <input readonly matInput formControlName="firstName" placeholder="Enter first name" required />
                </mat-form-field>
                <p *ngIf="form.controls['firstName']?.errors?.['minlength'] && form.controls['firstName'].touched"
                  style="color: red">
                  Need
                  {{ form.controls['firstName']?.errors?.['minlength'].requiredLength -
                  form.controls['firstName']?.errors?.['minlength'].actualLength }}
                  more characters.
                </p>
                <p *ngIf="form.controls['firstName']?.errors?.['required'] && form.controls['firstName'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="40" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Last Name</mat-label>
                  <input readonly matInput formControlName="lastName" placeholder="Enter last name" required />
                </mat-form-field>
                <p *ngIf="form.controls['lastName']?.errors?.['minlength'] && form.controls['lastName'].touched"
                  style="color: red">
                  Need
                  {{ form.controls['lastName']?.errors?.['minlength'].requiredLength -
                  form.controls['lastName']?.errors?.['minlength'].actualLength }}
                  more characters.
                </p>
                <p *ngIf="form.controls['lastName']?.errors?.['required'] && form.controls['lastName'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Email address</mat-label>
                  <input readonly matInput formControlName="email" placeholder="Enter email address" required />
                </mat-form-field>
                <p *ngIf="form.controls['email']?.errors?.['required'] && form.controls['email'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-label>Gender :</mat-label>
                <mat-radio-group formControlName="gender" required>
                  <mat-radio-button value="Male">Male</mat-radio-button>
                  <mat-radio-button value="Female">Female</mat-radio-button>
                </mat-radio-group>
                <p *ngIf="form.controls['gender']?.errors?.['required'] && form.controls['gender'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>DateOfBirth</mat-label>
                  <input matInput formControlName="dateOfBirth" [matDatepicker]="picker1"
                    placeholder="Select date of birth" required />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <p *ngIf="form.controls['dateOfBirth']?.errors?.['required'] && form.controls['dateOfBirth'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Date of joining</mat-label>
                  <input matInput formControlName="dateOfJoining" [matDatepicker]="picker" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <p *ngIf="form.controls['dateOfJoining']?.errors?.['required'] && form.controls['dateOfJoining'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="status" required>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive </mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="form.controls['status']?.errors?.['required'] && form.controls['status'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Block Status</mat-label>
                  <mat-select formControlName="blockStatus" required>
                    <mat-option value="Block">Block</mat-option>
                    <mat-option value="Unblock">Unblock </mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="form.controls['blockStatus']?.errors?.['required'] && form.controls['blockStatus'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Mobile No</mat-label>
                  <input matInput formControlName="mobileNO" placeholder="Enter mobileNO" required />
                </mat-form-field>
                <p *ngIf="form.controls['mobileNO']?.errors?.['required'] && form.controls['mobileNO'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Qualification</mat-label>
                  <input matInput formControlName="qualification" placeholder="Enter qualification" required />
                </mat-form-field>
                <p *ngIf="form.controls['qualification']?.errors?.['required'] && form.controls['qualification'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
              <div fxFlex.gt-sm="50" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Specialisation*</mat-label>
                  <mat-select formControlName="specialisation">
                    <mat-option *ngFor="let spe of specialisation" value="{{ spe }}">{{
                      spe
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="form.controls['specialisation']?.errors?.['required'] && form.controls['specialisation'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="100" fxFlex.gt-lg="100" fxFlex="100" style="padding: 10px">
                <mat-form-field appearance="fill" class="example-full-width" style="width: 100%">
                  <mat-label>Address</mat-label>
                  <textarea matInput formControlName="address" placeholder="Enter address" required></textarea>
                </mat-form-field>
                <p *ngIf="form.controls['address']?.errors?.['required'] && form.controls['address'].touched"
                  style="color: red">
                  This field is required
                </p>
              </div>
            </div>
            <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary"
              style="background-color: #03a66a; width: 20vh">
              Update
            </button>&nbsp;&nbsp;
            <button mat-raised-button color="warn" (click)="backToEmployeeList()"
              style="background-color: #e91212; width: 20vh">
              Back
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </form>
</div>