<!--<div class="bgImg">div first
    <a href="" class="link">hello</a>
    
</div>-->
<div>

 
<mat-card fxLayoutAlign="center center" ><form>
    <mat-card-content>
   
        <h2 style="color: lightseagreen;">Change password</h2>
       
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="password">
          
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="change password" >
          
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="conform password" >
            
          </mat-form-field>
        <button mat-raised-button color="primary" class="btn">change password</button>
   
    </mat-card-content></form>
  </mat-card></div>
  <!--<div ng-controller="AppCtrl" layout="column" ng-cloak>
    <div md-content layout-padding>
      
       <div layout-xs="column">  
         <md-input-container class="md-block" flex="50">
         
         </md-input-container> 
         <md-input-container class="md-block" flex="50">
         
         </md-input-container> 
       </div></div>-->